@import '../../Utils/utils.scss';

.Project__projectsItem {
  font-weight: 700;
  margin-left: 17px;
}

.Project__projectsName {
  text-decoration: none;
  margin-right: 5px;
  color: $text-color-description;
  @extend %s14w400h24;
}

.Project__dots {
  color: $text-color-time;
  font-weight: 100;
}

.Project__techName {
  color: $text-color-description;
  @extend %s14w400h24;
}
