@import '../../Utils/utils.scss';

.Education__li {
  @extend %list-throw;
}

.Education__university {
  @extend %s16w700h24;

  margin-top: 10px;
  margin-bottom: 15px;
}

.Education__label {
  color: $active-color;
  margin-left: 5px;
}

.Education__time {
  color: $text-color-time;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.Education__divider {
  color: $black-color;
}

.Education__duties {
  margin-top: 14px;
  margin-bottom: 30px;
  margin-left: 17px;
}

.Education__dutiesItem {
  list-style: inside;
  color: $text-color-description;
  @extend %s14w400h24;
}
