@import '../../Utils/utils.scss';

.sideBar {
  background: $bg-color-sidebar;
  min-width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.SideBar__foto {
  @extend %img-styles;

  // width: 370px;
  height: auto;
}

.SideBar__section {
  // @extend %container-styles;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 55px;
}

.SideBar__title {
  color: $white-color;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 15px;
}

.SideBar__ul {
  @extend %link-throw;
}

.SideBar__buttonDownload {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 55px;
}

.SideBar__link {
  border: 1px solid $active-color;
  color: $white-color;
  // color: $active-color;
  // font-size: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 14px 18px;
  margin-right: 10px;
  margin-top: 3px;
  display: block;
  float: right;
  border-radius: 25px;
  text-decoration: none;
}

.SideBar__link:hover {
  transition: $animation-timing;
  background-color: $active-color; /* Green */
  color: white;
  border: 1px solid $white-color;
}
