@import '../../Utils/utils.scss';

.sideBar {
  background: $bg-color-sidebar;
  min-width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.SideBar__foto {
  @extend %img-styles;

  // width: 370px;
  height: auto;
}

.SideBar__section {
  // @extend %container-styles;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
}

.SideBar__title {
  color: $white-color;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 15px;
}

.SideBar__ul {
  @extend %link-throw;
}
