@import '../src/Utils/utils.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  // @extend %container-styles;

  background: $bg-color;
  font-family: Montserrat;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  min-width: 1200px;
}

.wrapper {
  background: $white-color;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
