// @import '../../Utils/utils.scss';

.wrapper {
  background: #f5f7fa;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Montserrat;

  background: #ffffff;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
