@import '../../Utils/utils.scss';

.Contacts__li {
  @extend %list-throw;
}

.Contacts__link {
  @extend %link-throw;

  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.Contacts__icon {
  width: 25px;
  height: 25px;

  margin-right: 5px;
}
