@import '../../Utils/utils.scss';

.Contacts__li {
  @extend %list-throw;
}

.Contacts__link {
  @extend %link-throw;

  @extend %s14w400h24;

  color: $white-color;
  display: flex;
  margin-bottom: 7px;
}

.Contacts__link:hover,
.Contacts__link:focus {
  color: $active-color;
  transition: $animation-timing;
}

.Contacts__icon {
  width: 25px;
  height: 25px;

  margin-right: 10px;
}
// .Contacts__icon:hover,
// .Contacts__icon:focus {
//   width: 30px;
//   height: 30px;
// }
