@import '../../Utils/utils.scss';

.AboutMe_li {
  color: $active-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
}

.AboutMe__span {
  color: $white-color;
}

.AboutMe__container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.AboutMe__section {
  margin-bottom: 65px;
}

.AboutMe__professionText {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 25px;
}

.AboutMe__nameInfo {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.AboutMe__description {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0px;
}

// .AboutMe__section {
// }
// .AboutMe__title {
// }
// .AboutMe__subTitle {
// }
.AboutMe__typeProject {
  color: $active-color;
  margin-right: 5px;
}
// .AboutMe__list {
// }
