@import '../../Utils/utils.scss';

.AboutMe__container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 50px;
  padding-bottom: 110px;
}

.AboutMe__section {
  margin-bottom: 65px;
}

.AboutMe__professionText {
  color: $active-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 25px;
}

.AboutMe__nameInfo {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.AboutMe__description {
  color: $text-color-description;
  @extend %s14w400h24;

  margin-top: 0px;
}

.AboutMe__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.AboutMe__subTitle {
  @extend %s16w700h24;

  margin-top: 10px;
  margin-bottom: 15px;
}

.AboutMe__typeProject {
  color: $active-color;
  margin-right: 5px;
}
// .AboutMe__list {
// }

.AboutMe_li {
  color: $active-color;
  @extend %s14w400h24;

  margin-left: 15px;
}

.AboutMe__span {
  color: $white-color;
}
